$sm-mobile-breakpoint: 670px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1024px;

$dtuBlue: #b3e9fe;
$dtuWhite: #fffdf7;
$dtuBlack: #0f0f11;

//dtuBlue as rgba: rgba(179, 233, 254, 0.9);

@mixin bp-sm-mobile {
	@media only screen and (min-height: $sm-mobile-breakpoint) {
		@content;
	}
}

@mixin bp-tablet {
	@media only screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin bp-desktop {
	@media only screen and (min-width: $desktop-breakpoint) {
		@content;
	}
}

@mixin bp-large-desktop {
	@media only screen and (min-height: $large-desktop-breakpoint) {
		@content;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin flex-spc-btwn {
	flex-direction: row;
	justify-content: space-between;
}